.team {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--logo-light-color);
  font: cairo;
}

.team h1 {
  font-family: "Playball", cursive;
}
.team .members-container {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(2, 1fr);
}
