.App {
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px var(--logo-dark-color) solid;
}